install:
- set QTHOME=C:\Qt\5.11\msvc2017_64
- set BUILDDIR=build-release
- set PATH=%QTHOME%\bin;%PATH%
build_script:
- dir C:\Qt
- dir C:\Qt\5.11
- dir "C:\Program Files (x86)\Microsoft Visual Studio*"
- dir "C:\Program Files (x86)\Microsoft Visual Studio\2017"
- dir %QTHOME%
- dir %QTHOME%\mkspecs\
- '"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat" x86_amd64'
- mkdir %BUILDDIR%
- cd /d %BUILDDIR%
- qmake.exe -spec win32-msvc CONFIG+=x86_64 -Wall ..\src\tableau-log-viewer.pro
- nmake
